*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteinerPrimario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.conteinerSecundario, .conteinerTerceario{
    display: flex;
    border-radius: 15px;
    background-color: #FFF;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteinerSecundario, .conteinerTerceario::before{
    content: "";
    position: absolute;
    background-color:#58af9b ;
    width: 40%;
    height: 100%;
}


 .listaSocialMidia{
    display: flex;
 }

 .formulario {
    display: flex;
    flex-direction: column;
 }

.conteinerTerceario{
    position: absolute;
    display: none;
}
.colunaUm{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.colunaDois{
    flex: 2 0 auto;
}
.titulo{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}