*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.zeroConteiner{
    display: flex;
    border-radius: 15px;
    background-color: #FFF;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.zeroConteiner::before{
    content: "";
    position: absolute;
    background-color:#58af9b ;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 60%;
}

 .listaSocialMidia{
    display: flex;
    list-style-type: none;
 }

 .listaSocialMidia img:hover{
    background-color: #58af9b;
    color: #FFF;
    border-color: #58af9b;
 }

 .listaSocialMidia li{
    margin-right: 10px;
 }

 .socialMidia{
    margin-top: 1rem;
 }

.listaSocialMidia li:last-child{
    margin-right: 0;
}

 form {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
 }

 form input{
    height: 35px;
    width: 80%;
    border: none;
    background-color: #ecf0f1;
 }

 .primeiroConteiner{
    position: absolute;
    display: none;
}

 
.segundoConteiner{
    position: absolute;
    display: flex;
}
.segundoConteiner .colunaUm{
    order: 2;
}
.segundoConteiner .colunaDois{
    order: 1;
}
.colunaUm{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.colunaDois{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.titulo-primeiro{
    color: #FFF;
}

.titulo-segundo{
    color: #58af9b;
}

.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.descricao-colunaUm{
    color:#FFF;
}

.descricao-colunaDois{
    color:#7f8c8d;
}


.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    text-align: center;
    margin-top: 1rem;
}

.btn-um{
    background-color: transparent;
    border: 1px solid #FFF;
}
.btn-um:hover{
    background-color: #FFF;
    color: #58af9b;
}

.btn-dois{
    background-color: #58af9b;
    border: 1px solid #58af9b;
}

.btn-dois:hover{
    background-color: #FFF;
    border: 1px solid #58af9b;
    color: #58af9b;
}

img{
    width: 35px;
    height: 35px;
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    line-height: 35px;
}

label{
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

label img{
    margin-right: 10px;
}

label input {
    border: none;
    background: none;
    flex: 1;
    padding: 20px;
    font-size: 14px;
    outline: none;
}
.password{
    color: #34495e;
    font-size: 15px;
    margin: 15px;
}