*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.primeiroConteiner, .segundoConteiner{
    display: flex;
    border-radius: 15px;
    background-color: #FFF;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.zeroConteiner::before{
    content: "";
    position: absolute;
    background-color:#58af9b ;
    width: 40%;
    height: 100%;
}

 .listaSocialMidia{
    display: flex;
    list-style-type: none;
 }

 form {
    display: flex;
    flex-direction: column;
    width: 55%;
 }

 form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    margin: 8px;
 }

.segundoConteiner{
    position: absolute;
    display: none;
}

.colunaUm{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.colunaDois{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.titulo-primeiro{
    color: #FFF;
}

.titulo-segundo{
    color: #58af9b;
}

.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.descricao-colunaUm{
    color:#FFF;
}

.descricao-colunaDois{
    color:#7f8c8d;
}


.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
}

.btn-primeiro{
    background-color: transparent;
    border: 1px solid #FFF;
}
.btn-primeiro:hover{
    background-color: #FFF;
    color: #58af9b;
}
img{
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    line-height: 35px;
}